<!DOCTYPE html>
<html>
<head>
  <title>Simple Group Chat on Node.js</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="dealer-style.css" rel="stylesheet" type="text/css" />
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  <h1>Dealer View</h1>
  <button name='newGame'>NEW GAME</button>
  <button name='Deal'>DEAL</button>
  <ul id="messages"></ul>
  <form action="/" method="POST" id="chatForm">
    <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
  </form>
  <script>
  var socket = io.connect('http://192.168.0.11:8080');

  // new game
  $('button[name="newGame"]').click(function(e){
    e.preventDefault();
    socket.emit('chat_message', "Starting new game...");
    socket.emit('new_game');
    return false;
  });

  // deal cards
  $('button[name="Deal"]').click(function(e){
    e.preventDefault();
    socket.emit('chat_message', "Dealing cards...");
    socket.emit('deal_cards');
    return false;
  });

  // submit text message without reload/refresh the page
  $('form').submit(function(e){
    e.preventDefault(); // prevents page reloading
    socket.emit('chat_message', $('#txt').val());
    $('#txt').val('');
    return false;
  });

  // append the chat text message
  socket.on('chat_message', function(msg){
    $('#messages').append($('<li>').html(msg));
  });

  // append text if someone is online
  socket.on('is_online', function(username) {
    $('#messages').append($('<li>').html(username));
  });

  // ask username
  var username = 'Dealer';
  socket.emit('username', username);

  </script>
</body>
</html>
