<!DOCTYPE html>
<html>
<head>
  <title>Simple Group Chat on Node.js</title>
  <style>
  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
h1{
     font: 2.5vw Avenir Next, Helvetica, Arial;
     color: #fff;
     background: #0f4c5c;
     border: none;
     padding: .2em;


}
 body {
     font: 1.5vw Avenir Next, Helvetica, Arial;
     padding-bottom: 2.1em;
}
 form {
     background: #fff;
     padding: 0.1em;
     position: fixed;
     bottom: 0;
     width: 100%;
     border-color: #000;
     border-top-style: solid;
     border-top-width: 1px;
}
 form input {
     border-style: solid;
     border-width: 0.1em;
     padding: 1em;
     width: 85vw;
     margin-right: .5%;
     border-radius: .5em;
}
 form button {
     width: 9vw;
     background: #f5cb5c;
     border: none;
     padding: 1em;
     margin-left: 2%;
     border-radius: 2em;
}
 #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 #messages li {
     padding: .5em 1em;
}
 #messages li:nth-child(odd) {
     background: #efefe9;
}
strong {
    font-weight: bold;
    color: #fff;
    background: #0f4c5c;
    border: none;
    padding: .2em;
    border-radius: .4em;
}
  </style>
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <h1>future poker app</h1>
  <div class='container'>
    <div class='row'>
      <div class='col-sm'>
        <h2>Your cards:</h2><ul id="cards"></ul>
      </div>
      <div class='col-sm'>
        <h2>Your chips:</h2><h3 id='chips'></h3>
      </div>
      <div class='col-sm'>
        <h2>The pot:</h2><h3 id='pot'></h3>
      </div>
    </div>
    <div class='row'>
    <div class='col-sm' style='text-align:center'>
        <p>The active player is </p>
      </div>
      <div class='col-sm' style='text-align:center'>
        <p id='active_player'></p>
      </div>
    </div>
  </div>

    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>
    <script>
    var socket = io.connect('http://82.21.211.39:8080');

    // submit text message without reload/refresh the page
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat_message', $('#txt').val());
      $('#txt').val('');
      return false;
    });

    // append the chat text message
    socket.on('chat_message', function(msg){
      $('#messages').append($('<li>').html(msg));
    });

    // append text if someone is online
    socket.on('is_online', function(message) {
      $('#messages').append($('<li>').html(message));
    });

    //show cards
    socket.on('cards', function (message) {
      //$('#cards').html(message);
      $('#cards').append($('<li>').html(message[0]));
      $('#cards').append($('<li>').html(message[1]));
      console.log('Your cards: ' + message[0] + ', ' + message[1]);
    });

    //show chips
    socket.on('chips', function (message) {
      $('#chips').html(message);
      console.log('Your chips: ' + message);
    });

    //show active player
    socket.on('active_player', function (message) {
      $('#active_player').html(message);
      console.log('Active player: ' + message);
    });

    // ask username
    const urlParams = new URLSearchParams(window.location.search);
    var username = urlParams.get('name');
    if (!username) {
      username = prompt('Please tell me your name');
    }
    socket.emit('username', username);

    socket.on('player_number', function(message) {
      $('h1').val('Poker app. You are player ' + message);
    });

    </script>
  </body>
  </html>
