<!DOCTYPE html>
<html>
<head>
  <title>Simple Group Chat on Node.js</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  <h1>future poker app</h1>
  <div id='cardsBox'><h2>Your cards:</h2><h3 id='cards'</h3></div>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>
    <script>
    var socket = io.connect('http://82.21.211.39:8080');

    // submit text message without reload/refresh the page
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat_message', $('#txt').val());
      $('#txt').val('');
      return false;
    });

    // append the chat text message
    socket.on('chat_message', function(msg){
      $('#messages').append($('<li>').html(msg));
    });

    // append text if someone is online
    socket.on('is_online', function(message) {
      $('#messages').append($('<li>').html(message));
    });

    // ask username
    var username = prompt('Please tell me your name');
    socket.emit('username', username);

    socket.on('player_number', function(message) {
      $('h1').val('Poker app. You are player ' + message);
    });

    </script>
  </body>
  </html>
