* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

@media (orientation: landscape) {
  h1{
     font: 2.5vw Avenir Next, Helvetica, Arial;
     color: #fff;
     background: #0f4c5c;
     border: none;
     padding: .2em;
  }
     body {
     font: 1.5vw Avenir Next, Helvetica, Arial;
     padding-bottom: 2.1em;
  }
}

@media (orientation: portrait) {
    h1{
     font: 2.5vh Avenir Next, Helvetica, Arial;
     color: #fff;
     background: #0f4c5c;
     border: none;
     padding: .2em;
  }
     body {
     font: 1.5vh Avenir Next, Helvetica, Arial;
     padding-bottom: 1.1em;
  }
}

 form {
     background: #fff;
     padding: 0.1em;
     position: fixed;
     bottom: 0;
     width: 100%;
     border-color: #000;
     border-top-style: solid;
     border-top-width: 1px;
}
 form input {
     border-style: solid;
     border-width: 0.1em;
     padding: 1em;
     width: 85vw;
     margin-right: .5%;
     border-radius: .5em;
}
 form button {
     width: 9vw;
     background: #f5cb5c;
     border: none;
     padding: 1em;
     margin-left: 2%;
     border-radius: 2em;
}
 #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 #messages li {
     padding: .5em 1em;
}
 #messages li:nth-child(odd) {
     background: #efefe9;
}
strong {
    font-weight: bold;
    color: #fff;
    background: #0f4c5c;
    border: none;
    padding: .2em;
    border-radius: .4em;
}
  
